<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다!</title>
    <!-- 부트스트랩 CSS 파일 포함 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  href="/css/index.css">
</head>
<body>
<div class="container">
    <div class="welcome">
        <h1>환영합니다!</h1>
    </div>
    <div class="user-info">
        <div sec:authorize="isAnonymous()" class="d-grid gap-2 col-6 mx-auto">
            <a th:href="@{/login}" class="btn btn-primary btn-lg">로그인</a>
            <a th:href="@{/join}" class="btn btn-primary btn-lg">회원가입</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="d-grid gap-2 col-6 mx-auto">
            <a th:href="@{/logout}" class="btn btn-primary btn-lg">로그아웃</a>
            <a th:href="@{/api/home}" class="btn btn-primary btn-lg">웹캠을 이용한 과일 맞추기</a>
            <a th:href="@{/api/draw/draw}" class="btn btn-primary btn-lg">그림을 그려서 과일 맞추기</a>
        </div>
    </div>
</div>
</body>
</html>