<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Room</title>
    <script type="text/javascript" th:src="@{/js/webcam.js}"></script>
    <link rel="stylesheet"  href="/css/studyroom.css">
</head>
<body>
<div class="container">
    <h1>카메라를 이용해 과일을 인식해요!</h1>
    <div class="main-content">
        <div class="camera-section">
            <video id="video" width="680" height="520" autoplay></video>
            <button id="capture" class="btn btn-primary">Capture</button>
            <canvas id="canvas" style="display: none;"></canvas>
        </div>
        <div class="results-section">
            <h1>인식된 과일 확인하기</h1>
            <ul class="result-list" id="resultList">
                <li th:each="result, iterStat : ${results}" class="result-item">
                    <a th:href="@{/api/results/{id}(id=${result.id})}" class="result-link">
                        <span th:text="'result' + ${iterStat.count}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>