<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Room</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/webcam.js}"></script>
    <link rel="stylesheet"  href="/css/studyroom.css">
</head>
<body>
<div class="container">
    <h1>카메라를 이용해 과일을 인식해요!</h1>
    <div class="main-content">
        <div class="camera-section">
            <div class="video-container">
                <video id="video" width="680" height="520" autoplay></video>
                <canvas id="canvas" style="display: none;"></canvas>
            </div>
            <button id="capture" class="btn btn-outline-primary">확인하기</button>
        </div>
        <div class="results-section">
            <h1>과일 바구니</h1>
            <ul class="result-list" id="resultList">
                <li th:each="result, iterStat : ${results}" class="result-item">
                    <a th:href="@{/api/results/{id}(id=${result.id})}" class="result-link">
                        <span th:text="'result' + ${iterStat.count}"></span>
                    </a>
                </li>
            </ul>
            <a th:href="@{/api/draw/draw}" class="btn btn-primary btn-lg w-100 mb-3">그림 그려서 과일 맞추기</a>
        </div>
    </div>
</div>
</body>
</html>